<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
    {% include "metadata.html" %}
</head>
<body>
    {% include "homepage/navigation.html" %}
    {% include "homepage/carousel.html" %}
    {% include "homepage/welcome.html" %}
    {% include "homepage/vote.html" %}
    {% include "homepage/servicepacks.html" %}
    {% include "homepage/footer.html" %}
</body>
</html>