<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>New Service</h1>
    <form method="POST">
        <label for="">Tên</label>
        <input type="text" name="name" value="Service's name">
        <br>

        <label for="">Năm sinh</label>
        <input type="text" name="yob">
        <br>

        <label for="">Số điện thoại</label>
        <input type="text" name="phone">
        <br>

        <label for="">Giới tính:</label>
        <br>
        <input type="radio" name="gender" value=1>
        Nam
        <br>
        <input type="radio" name="gender" value=0>
        Nữ
        <br>

        <input type="submit" value="Thêm">
    </form>
</body>
</html>