<!-- service pack -->
<!-- pack1 -->
<div class="d-flex flex-column align-items-center my-5">
  <h2 class="mb-5">Các gói dịch vụ</h2>
<div class="d-flex justify-content-center">
  <div class="card mb-3 mx-5" style="max-width: 23rem;">
      <div class="card-header text-light font-weight-bold text-left" style="background-color: lightgray;">
        <h3>
            Gói cơ bản
        </h3>
      </div>
      <div class="card-body bg-white">
          <ul>
            <li class="mb-3">
              <h6>Dẫn bạn về ra mắt</h6>
            </li>
            <li class="mb-3">
              <h6>Ăn cơm cùng gia đình</h6>
            </li>
            <li class="mb-3 text-muted">
              <h6>Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</h6>
            </li>
            <li class="mb-3 text-muted">
              <h6>Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
            </li>
          </ul>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <p class="btn btn-dark text-light mb-0">
            <i class="fas fa-heart mr-1"></i>
            Tìm hiểu thêm
        </p>
      </div>
    </div>
    <!-- pack2 -->
    <div class="card mb-3 mx-5" style="max-width: 23rem;">
        <div class="card-header text-light font-weight-bold text-left" style="background-color: darkgray;">
          <h3>
              Gói tiêu chuẩn
          </h3>
        </div>
        <div class="card-body bg-white">
            <ul>
              <li class="mb-3">
                <h6>Dẫn bạn về ra mắt</h6>
              </li>
              <li class="mb-3">
                <h6>Ăn cơm cùng gia đình</h6>
              </li>
              <li class="mb-3">
                <h6>Cho phép nắm tay thể hiện quan tâm</h6>
              </li>
              <li class="mb-3 text-muted">
                <h6>Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
              </li>
            </ul>
        </div>
        <div class="card-footer bg-light d-flex justify-content-end">
          <p class="btn btn-dark text-light mb-0">
              <i class="fas fa-heart mr-1"></i>
              Tìm hiểu thêm
          </p>
        </div>
      </div>
      <!-- pack3 -->
      <div class="card mb-3 mx-5" style="max-width: 23rem;">
          <div class="card-header text-light font-weight-bold text-left" style="background-color: gray">
            <h3>
                Gói tiêu chuẩn
            </h3>
          </div>
          <div class="card-body bg-white">
              <ul>
                <li class="mb-3">
                  <h6>Dẫn bạn về ra mắt</h6>
                </li>
                <li class="mb-3">
                  <h6>Ăn cơm cùng gia đình</h6>
                </li>
                <li class="mb-3">
                  <h6>Cho phép nắm tay thể hiện quan tâm</h6>
                </li>
                <li class="mb-3 text-muted">
                  <h6>Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                </li>
                <li class="mb-3 text-primary">
                  <h6>Và nhiều ưu đãi bất ngờ khác</h6>
                </li>
              </ul>
          </div>
          <div class="card-footer bg-light d-flex justify-content-end">
            <p class="btn btn-dark text-light mb-0">
                <i class="fas fa-heart mr-1"></i>
                Tìm hiểu thêm
            </p>
          </div>
        </div>
  </div>
</div>
  