<div class="col-md-12 bg-image d-flex flex-column" style="height: 900px;">
    <h3 class="text-light text-center" style="position: relative; top: 10%">Khách hàng bình chọn</h3>
    <div class="d-flex justify-content-around wrap flex-row mb-5" style="position: relative; top: 15%">
        <div class="col-md-2 d-flex justify-content-center">
            <a href="">
                <img src="../../static/image/female/chloe_moriondo.jpg" alt="Khách hàng 1" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
            <a href="">
                <img src="../../static/image/female/choi_sulli.jpg" alt="Khách hàng 2" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
                <a href="">
                    <img src="../../static/image/female/iu.jpg" alt="Khách hàng 3" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
                </a>
            </div>
        <div class="col-md-2 d-flex justify-content-center">
            <a href="">
                <img src="../../static/image/female/jo_woori.jpg" alt="Khách hàng 4" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-around wrap flex-row mt-5" style="position: relative; top: 20%">
        <div class="col-md-2 d-flex justify-content-center">
                <a href="">
                    <img src="../../static/image/male/ahn_jaehyun.jpg" alt="Khách hàng 5" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
                </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
                <a href="">
                    <img src="../../static/image/male/cha_eun_woo.jpg" alt="Khách hàng 5" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
                </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
                <a href="">
                    <img src="../../static/image/male/chen_linong.jpg" alt="Khách hàng 5" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
                </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
                <a href="">
                    <img src="../../static/image/male/victor_chitanu.jpg" alt="Khách hàng 5" style="height: 250px; width: 250px; border: 5px solid ghostwhite;" class="rounded">
                </a>
        </div>
    </div>
</div>